# mmdaq configuration for daq tests
# last modified: M.Byszewski 07/27/2012  
# 


############################################################
# network parameters of the DAQ
############################################################
mmdaq.DAQIPAddress: 10.0.0.3
mmdaq.DAQIPPort: 6006

############################################################
#data saving
############################################################
mmdaq.LogFile:                  mmdaq1_bes3_test.log
mmdaq.ChannelMapFile:           BESIII_0to11.map
mmdaq.CrosstalkCorrectionFile:  crosstalk.map
# save data to this directory:
mmdaq.WriteDataPath:            BESIIIdata/
# # factor for zero suppression
mmdaq.ZeroTresholdFactor: 0.8
#mmdaq.ZeroTresholdFactor: -5
# # keep PedestalEventsPerSave = 0 for compatibility,
# # will be used for automatic pedestal measurements
mmdaq.PedestalEventsPerSave: 0
mmdaq.PathToPedestalFile:       BESIIIdata/
#
############################################################
# FEC IP address, connection to APV Chips
############################################################
mmdaq.FECs: FEC1
#mmdaq.FEC1.Chips: APV0, APV1, APV2, APV3, APV4, APV5, APV6, APV7, APV8, APV9, APV10, APV11, APV12, APV13, APV14, APV15
mmdaq.FEC1.Chips: APV0, APV1, APV2, APV3, APV4, APV5, APV6, APV7, APV8, APV9, APV10, APV11
mmdaq.FEC1.IPAddress: 10.0.0.2


############################################################
# translate names like APV0 to their local id numbers (0-15)
# usually you can leave this as it is
############################################################
mmdaq.FEC1.Chips.APV0.Id: 0
mmdaq.FEC1.Chips.APV1.Id: 1
mmdaq.FEC1.Chips.APV2.Id: 2
mmdaq.FEC1.Chips.APV3.Id: 3
mmdaq.FEC1.Chips.APV4.Id: 4
mmdaq.FEC1.Chips.APV5.Id: 5
mmdaq.FEC1.Chips.APV6.Id: 6
mmdaq.FEC1.Chips.APV7.Id: 7
mmdaq.FEC1.Chips.APV8.Id: 8
mmdaq.FEC1.Chips.APV9.Id: 9
mmdaq.FEC1.Chips.APV10.Id: 10
mmdaq.FEC1.Chips.APV11.Id: 11
mmdaq.FEC1.Chips.APV12.Id: 12
mmdaq.FEC1.Chips.APV13.Id: 13
mmdaq.FEC1.Chips.APV14.Id: 14
mmdaq.FEC1.Chips.APV15.Id: 15

############################################################
# CHAMBERS, list of names, strips, their connection to APV chips
############################################################
#Chambers are ordered from front to back of beam incidence
mmdaq.Chambers: TRK0, B3LF, B3L1, B3L2, CET3, CET4, CWT4, CWT5, CEB3, CEB4, CWB4, CWB5

mmdaq.Chamber.TRK0.ZPos: 1
mmdaq.Chamber.TRK0.DriftGap: 5.0
mmdaq.Chamber.TRK0.Strips: X

mmdaq.Chamber.TRK0.Strips.X.Angle: 90.0
mmdaq.Chamber.TRK0.Strips.X.Chips: APV0
mmdaq.Chamber.TRK0.Strips.X.Pitch: 0.25
mmdaq.Chamber.TRK0.Strips.X.Min: 1
mmdaq.Chamber.TRK0.Strips.X.Max: 128

#mmdaq.Chamber.TRK0.Strips.Y.Angle: 90.0
#mmdaq.Chamber.TRK0.Strips.Y.Chips: APV2
#mmdaq.Chamber.TRK0.Strips.Y.Pitch: 0.25
#mmdaq.Chamber.TRK0.Strips.Y.Min: 1
#mmdaq.Chamber.TRK0.Strips.Y.Max: 128

mmdaq.Chamber.B3LF.ZPos: 2
mmdaq.Chamber.B3LF.DriftGap: 5.0
mmdaq.Chamber.B3LF.Strips: X

mmdaq.Chamber.B3LF.Strips.X.Angle: 90.0
mmdaq.Chamber.B3LF.Strips.X.Chips: APV1
mmdaq.Chamber.B3LF.Strips.X.Pitch: 0.25
mmdaq.Chamber.B3LF.Strips.X.Min: 1
mmdaq.Chamber.B3LF.Strips.X.Max: 128

#mmdaq.Chamber.B3LF.Strips.Y.Angle: 90.0
#mmdaq.Chamber.B3LF.Strips.Y.Chips: APV3
#mmdaq.Chamber.B3LF.Strips.Y.Pitch: 0.25
#mmdaq.Chamber.B3LF.Strips.Y.Min: 1
#mmdaq.Chamber.B3LF.Strips.Y.Max: 128

mmdaq.Chamber.B3L1.ZPos: 3
mmdaq.Chamber.B3L1.DriftGap: 5.0
mmdaq.Chamber.B3L1.Strips: X

mmdaq.Chamber.B3L1.Strips.X.Angle: 90.0
mmdaq.Chamber.B3L1.Strips.X.Chips: APV2
mmdaq.Chamber.B3L1.Strips.X.Pitch: 0.25
mmdaq.Chamber.B3L1.Strips.X.Min: 1
mmdaq.Chamber.B3L1.Strips.X.Max: 128

mmdaq.Chamber.B3L2.ZPos: 4
mmdaq.Chamber.B3L2.DriftGap: 5.0
mmdaq.Chamber.B3L2.Strips: X

mmdaq.Chamber.B3L2.Strips.X.Angle: 90.0
mmdaq.Chamber.B3L2.Strips.X.Chips: APV3
mmdaq.Chamber.B3L2.Strips.X.Pitch: 0.25
mmdaq.Chamber.B3L2.Strips.X.Min: 1
mmdaq.Chamber.B3L2.Strips.X.Max: 128

mmdaq.Chamber.CET3.ZPos: 5
mmdaq.Chamber.CET3.DriftGap: 5.0
mmdaq.Chamber.CET3.Strips: X

mmdaq.Chamber.CET3.Strips.X.Angle: 90.0
mmdaq.Chamber.CET3.Strips.X.Chips: APV4
mmdaq.Chamber.CET3.Strips.X.Pitch: 0.25
mmdaq.Chamber.CET3.Strips.X.Min: 1
mmdaq.Chamber.CET3.Strips.X.Max: 128

mmdaq.Chamber.CET4.ZPos: 6
mmdaq.Chamber.CET4.DriftGap: 5.0
mmdaq.Chamber.CET4.Strips: X

mmdaq.Chamber.CET4.Strips.X.Angle: 90.0
mmdaq.Chamber.CET4.Strips.X.Chips: APV5
mmdaq.Chamber.CET4.Strips.X.Pitch: 0.25
mmdaq.Chamber.CET4.Strips.X.Min: 1
mmdaq.Chamber.CET4.Strips.X.Max: 128

mmdaq.Chamber.CWT4.ZPos: 7
mmdaq.Chamber.CWT4.DriftGap: 5.0
mmdaq.Chamber.CWT4.Strips: X

mmdaq.Chamber.CWT4.Strips.X.Angle: 90.0
mmdaq.Chamber.CWT4.Strips.X.Chips: APV6
mmdaq.Chamber.CWT4.Strips.X.Pitch: 0.25
mmdaq.Chamber.CWT4.Strips.X.Min: 1
mmdaq.Chamber.CWT4.Strips.X.Max: 128

mmdaq.Chamber.CWT5.ZPos: 8
mmdaq.Chamber.CWT5.DriftGap: 5.0
mmdaq.Chamber.CWT5.Strips: X

mmdaq.Chamber.CWT5.Strips.X.Angle: 90.0
mmdaq.Chamber.CWT5.Strips.X.Chips: APV7
mmdaq.Chamber.CWT5.Strips.X.Pitch: 0.25
mmdaq.Chamber.CWT5.Strips.X.Min: 1
mmdaq.Chamber.CWT5.Strips.X.Max: 128

mmdaq.Chamber.CEB3.ZPos: 9
mmdaq.Chamber.CEB3.DriftGap: 5.0
mmdaq.Chamber.CEB3.Strips: X

mmdaq.Chamber.CEB3.Strips.X.Angle: 90.0
mmdaq.Chamber.CEB3.Strips.X.Chips: APV8
mmdaq.Chamber.CEB3.Strips.X.Pitch: 0.25
mmdaq.Chamber.CEB3.Strips.X.Min: 1
mmdaq.Chamber.CEB3.Strips.X.Max: 128

mmdaq.Chamber.CEB4.ZPos: 10
mmdaq.Chamber.CEB4.DriftGap: 5.0
mmdaq.Chamber.CEB4.Strips: X

mmdaq.Chamber.CEB4.Strips.X.Angle: 90.0
mmdaq.Chamber.CEB4.Strips.X.Chips: APV9
mmdaq.Chamber.CEB4.Strips.X.Pitch: 0.25
mmdaq.Chamber.CEB4.Strips.X.Min: 1
mmdaq.Chamber.CEB4.Strips.X.Max: 128

mmdaq.Chamber.CWB4.ZPos: 11
mmdaq.Chamber.CWB4.DriftGap: 5.0
mmdaq.Chamber.CWB4.Strips: X

mmdaq.Chamber.CWB4.Strips.X.Angle: 90.0
mmdaq.Chamber.CWB4.Strips.X.Chips: APV10
mmdaq.Chamber.CWB4.Strips.X.Pitch: 0.25
mmdaq.Chamber.CWB4.Strips.X.Min: 1
mmdaq.Chamber.CWB4.Strips.X.Max: 128

mmdaq.Chamber.CWB5.ZPos: 12
mmdaq.Chamber.CWB5.DriftGap: 5.0
mmdaq.Chamber.CWB5.Strips: X

mmdaq.Chamber.CWB5.Strips.X.Angle: 90.0
mmdaq.Chamber.CWB5.Strips.X.Chips: APV11
mmdaq.Chamber.CWB5.Strips.X.Pitch: 0.25
mmdaq.Chamber.CWB5.Strips.X.Min: 1
mmdaq.Chamber.CWB5.Strips.X.Max: 128
