# mmdaq configuration for daq tests
# last modified: M.Byszewski 07/27/2012  
# 


############################################################
# network parameters of the DAQ
############################################################
mmdaq.DAQIPAddress: 10.0.0.3
mmdaq.DAQIPPort: 6006

############################################################
#data saving
############################################################
mmdaq.LogFile:                  mmdaq1_bes3_test.log
mmdaq.ChannelMapFile:           BESIII_0to4.map
mmdaq.CrosstalkCorrectionFile:  crosstalk.map
# save data to this directory:
mmdaq.WriteDataPath:            BESIIIdata/
# # factor for zero suppression
mmdaq.ZeroTresholdFactor: 0.8
#mmdaq.ZeroTresholdFactor: -5
# # keep PedestalEventsPerSave = 0 for compatibility,
# # will be used for automatic pedestal measurements
mmdaq.PedestalEventsPerSave: 0
mmdaq.PathToPedestalFile:       BESIIIdata/
#
############################################################
# FEC IP address, connection to APV Chips
############################################################
mmdaq.FECs: FEC1
#mmdaq.FEC1.Chips: APV0, APV1, APV2, APV3, APV4, APV5, APV6, APV7, APV8, APV9, APV10, APV11, APV12, APV13, APV14, APV15
mmdaq.FEC1.Chips: APV0, APV1, APV2, APV3, APV4
mmdaq.FEC1.IPAddress: 10.0.0.2


############################################################
# translate names like APV0 to their local id numbers (0-15)
# usually you can leave this as it is
############################################################
mmdaq.FEC1.Chips.APV0.Id: 0
mmdaq.FEC1.Chips.APV1.Id: 1
mmdaq.FEC1.Chips.APV2.Id: 2
mmdaq.FEC1.Chips.APV3.Id: 3
mmdaq.FEC1.Chips.APV4.Id: 4

############################################################
# CHAMBERS, list of names, strips, their connection to APV chips
############################################################
#Chambers are ordered from front to back of beam incidence
mmdaq.Chambers: TRK0, TRK1, TRK2


mmdaq.Chamber.TRK0.ZPos: 1
mmdaq.Chamber.TRK0.DriftGap: 5.0
mmdaq.Chamber.TRK0.Strips: X,Y

mmdaq.Chamber.TRK0.Strips.Y.Angle: 0.0
mmdaq.Chamber.TRK0.Strips.Y.Chips: APV0
mmdaq.Chamber.TRK0.Strips.Y.Pitch: 0.65
mmdaq.Chamber.TRK0.Strips.Y.Min: 1
mmdaq.Chamber.TRK0.Strips.Y.Max: 128

mmdaq.Chamber.TRK0.Strips.X.Angle: 90.0
mmdaq.Chamber.TRK0.Strips.X.Chips: APV1
mmdaq.Chamber.TRK0.Strips.X.Pitch: 0.65
mmdaq.Chamber.TRK0.Strips.X.Min: 1
mmdaq.Chamber.TRK0.Strips.X.Max: 128

#Chambers are ordered from front to back of beam incidence

mmdaq.Chamber.TRK1.ZPos: 2
mmdaq.Chamber.TRK1.DriftGap: 5.0
mmdaq.Chamber.TRK1.Strips: X,Y

mmdaq.Chamber.TRK1.Strips.Y.Angle: 0.0
mmdaq.Chamber.TRK1.Strips.Y.Chips: APV2
mmdaq.Chamber.TRK1.Strips.Y.Pitch: 0.65
mmdaq.Chamber.TRK1.Strips.Y.Min: 1
mmdaq.Chamber.TRK1.Strips.Y.Max: 128

mmdaq.Chamber.TRK1.Strips.X.Angle: 90.0
mmdaq.Chamber.TRK1.Strips.X.Chips: APV3
mmdaq.Chamber.TRK1.Strips.X.Pitch: 0.65
mmdaq.Chamber.TRK1.Strips.X.Min: 1
mmdaq.Chamber.TRK1.Strips.X.Max: 128


mmdaq.Chamber.TRK2.ZPos: 3
mmdaq.Chamber.TRK2.DriftGap: 5.0
mmdaq.Chamber.TRK2.Strips: Y

mmdaq.Chamber.TRK2.Strips.Y.Angle: 0.0
mmdaq.Chamber.TRK2.Strips.Y.Chips: APV4
mmdaq.Chamber.TRK2.Strips.Y.Pitch: 0.65
mmdaq.Chamber.TRK2.Strips.Y.Min: 1
mmdaq.Chamber.TRK2.Strips.Y.Max: 128

